/* ---------------------- Scroll bar ---------------------- */

::-webkit-scrollbar{
    display: none;
}

/* ---------------------- Alignment ---------------------- */
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ---------------------- Number Input scroll bar ---------------------- */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* ---------------------- Header images ---------------------- */
img {
    width: 50px;
    height: 50px;
}

/* ---------------------- Form ---------------------- */
form {
    border: 1px solid #ccc;
    margin: 30px auto;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


/* ---------------------- Inputs and Labels ---------------------- */
.form-label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-check {
    margin-bottom: 8px;
}
